<!DOCTYPE html>
<html ng-app="dwz">

<head>
    <meta charset="UTF-8">
    <title>
        <%= siteName %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="//cdn.bootcss.com/foundation/4.3.2/css/foundation.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="//cdn.bootcss.com/angular.js/1.2.0rc2/angular.min.js"></script>
    <script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="//cdn.bootcss.com/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    
</head>

<body>
    <div class="main">
        <header ng-controller="HeaderController">
            <img src="/img/logo.png" alt="logo" border="0" ng-click="getLinks()" />
            <div class="reveal-modal tiny" ng-class="{'showModal':showLogin}">
                <h2>Sign in</h2>
                <form name="login_form" novalidate ng-submit="Login()">
                    <label>Username</label>
                    <input type="text" name="username" ng-model="login.username" required />
                    <label>Password</label>
                    <input type="password" name="password" ng-model="login.password" required />
                    <button class="button radius" type="submit" ng-disabled="login_form.$invalid">Sign in</button>
                </form>
                    <a class="close-reveal-modal" ng-click="closeLogin()">&times;</a>
            </div>
        </header>
        <div class="content" ng-controller="ContentController">
            <form name="shortenurl_form" novalidate ng-submit="shortenurlForm()">
                <fieldset>
                    <legend>短网址</legend>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Tinyurl</label>
                            <input type="text" placeholder="dwz" name="tinyurl" ng-model="shortenurl.tinyurl" ensure-unique="tinyurl" ng-pattern="/^[A-Za-z0-9_]+$/" ng-minlength="1" required />
                            <div class="error hideError" ng-show="shortenurl_form.tinyurl.$dirty && shortenurl_form.tinyurl.$invalid">
                                <small class="error" ng-show="shortenurl_form.tinyurl.$error.required">
                                    The tinyurl is required.
                                </small>
                                <small class="error" ng-show="shortenurl_form.tinyurl.$error.unique">
                                    That tinyurl is taken, please try another
                                </small>
                                <small class="error" ng-show="shortenurl_form.tinyurl.$error.pattern">
                                    please input number or letter.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Fullurl</label>
                            <input type="text" placeholder="http://dwz.cn" name="fullurl" ng-model="shortenurl.fullurl" required />
                            <div class="error hideError" ng-show="shortenurl_form.fullurl.$dirty && shortenurl_form.fullurl.$invalid">
                                <small class="error" ng-show="shortenurl_form.fullurl.$error.required">
                                    The fullurl is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Intro</label>
                            <input type="text" placeholder="百度短网址" name="intro" ng-model="shortenurl.intro" required />
                            <div class="error hideError" ng-show="shortenurl_form.intro.$dirty && shortenurl_form.intro.$invalid">
                                <small class="error" ng-show="shortenurl_form.intro.$error.required">
                                    The intro is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="shortenurl_form.$invalid" class="button radius submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <footer ng-controller="FooterController">
            <p>&copy;{{ today | date: 'yyyy' }}
                <%= owner %>
            </p>
        </footer>
        <script src="/js/index.js"></script>
        <div class="reveal-modal-bg" ng-class="{'showBg':showModalBg}" ng-click="closeModal()"></div>        
    </div>
</body>

</html>
