.main {
    width: 400px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding-top: 80px;
}

header>img {
    width: 160px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.content {
    width: 100%;
    margin: 0 auto;
}

footer>p {
    text-align: center;
    font-size: 6px;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

.row {
    border: 0px solid green;
}

button.submit {
    display: block;
    margin: 0 auto 20px!important;
}

@media only screen and (max-width: 480px) {
    .main {
        width: 95%!important;
    }
    header {
        padding-top: 20px;
    }
    header>img {
        padding-bottom: 0;
    }
    .content fieldset {
        margin-top: 5px;
    }
}